@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Serif', serif;
}


main button {
    border: none;
    background-color: transparent;
    padding: 1em;
}

.navbar:hover {
    background-color: #dcdcdc;
    padding: 0.5em;
}

button:hover {
    background-color: #dcdcdc;
}

#submit {
    background-color: #ceb888;;
    margin: auto;
    width: 9em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide-display {
    display: none;
}

#page-3 {
    display: none;
}
